@model MotoModel

@{
    ViewData["Title"] = "Cadastrar Nova Moto";
}

<div class="text-center">

    <h1 class="display-4">Cadastrar moto</h1>

</div>

<form asp-controller="Moto" asp-action="Criar" method="post">

    <div class="mb-3">
        <label for="ano" class="form-label">Ano</label>
        <input type="number" class="form-control" id="ano" asp-for="Ano" placeholder="Digite o ano da moto...">
        @Html.ValidationMessageFor(x => x.Ano)
    </div>

    <div class="form-group">
        <label for="modelo" class="form-label">Modelo</label>
        <select asp-for="Modelo" class="form-control">
            <option value="@ModeloEnum.Economica">Econômica</option>
            <option value="@ModeloEnum.Comfort">Comfort</option>
        </select>
        @Html.ValidationMessageFor(x => x.Modelo)
    </div>

    <div class="mb-3">
        <label for="placa" class="form-label">Placa</label>
        <input type="text" class="form-control" id="placa" asp-for="Placa" placeholder="Digite a placa da moto...">
        @Html.ValidationMessageFor(x => x.Placa)
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>